<section class="welcome">
  <button class="btn btn-success" style="font-family: 'Raleway', sans-serif;" (click)="ScrolToSection(teamSection)">Let's Go To Work </button>
</section>
<section class="support">
    <div class="container">
      <div class="row">
        <h2 class="title-support" style="font-family: 'Merriweather', serif;">WE SUPPORT IN ...</h2>
      </div>
      <div class="row">
              <div class="col">
                  <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../../assets/image/car.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Cars</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
               </div>
                <div class="col">
                  <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../../assets/image/motorcycle.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Motorcycle</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../../assets/image/truck.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Truck</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                </div>
          </div>
    </div>
</section>
<section class="team" #teamSection>
    <div class="container">
       <div class="row">
          <h2 class="title-support" style="font-family: 'Merriweather', serif;">OUR TEAM</h2>
       </div>
       <div class="row ">
          <div class="col center-team">
              <div class="profile">
                <img class="profile-image" src="../../assets/image/member-team-1.jpg" alt="">
                <h5 class="name">Nati Rada</h5>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus accusamus odio provident voluptate, quisquam commodi deleniti facere voluptas earum! Et amet dolorem nostrum optio quasi! Vel inventore tempore excepturi qui.</p>
              </div>
           </div>
           <div class="col center-team">
              <div class="profile">
                  <img class="profile-image" src="../../assets/image/WhatsApp Image 2019-05-06 at 21.54.37.jpeg" alt="">
                  <h5 class="name">Nati Rada</h5>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus accusamus odio provident voluptate, quisquam commodi deleniti facere voluptas earum! Et amet dolorem nostrum optio quasi! Vel inventore tempore excepturi qui.</p>
              </div>
           </div>
       </div>
    </div>
</section>

